@model RoleCreateModel
@{
    ViewData["Title"] = "Create Role";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Role</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Roles</a></li>
                    <li class="breadcrumb-item active">Create Role</li>
                    @* <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="BlogPost" asp-action="Index">Create Role</a></li> *@
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create a Role</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="Member" asp-action="CreateRole" method="post">
                        <partial name="_ResponsePartial" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input type="text" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

