@model TestModel
@{
    ViewData["Title"] = "Test";
}

<style>
    input[type=email], 
    input[type=password], 
    input[type=submit] {
        margin: 8px 0;
    }
    .form-group {
        font-weight: 600;
    }
</style>

<form asp-controller="Home" asp-action="Test" asp-antiforgery="true" method="post" class="form-horizontal">
    <h1>Test Form</h1>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" type="email" placeholder="email..." class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" placeholder="password..." class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" type="password" placeholder="confirm password..." class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>

@Html.Raw(Model.Password)

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
