html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* Style for nav-link,  Style for _Layout.cshtml page */
.main-sidebar {
    background-color: rgba(224,53,69,255);
}
.custom-sidebar .nav-item {
    margin-bottom: 25px;
}
.custom-sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.custom-sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
    transition: 0.2s;
}
.custom-sidebar .nav-link i {
    font-size: 22px;
    padding: 6px;
    margin-right: 10px;
}
.custom-sidebar .nav-link:hover i {
    color: white;
}
.custom-sidebar .nav-link p {
    margin: 0;
    transition: color 0.3s ease;
}
.custom-sidebar .nav-link:hover p {
    color: white;
}

/* Style for _Items.cshtml page   */
.row {
    margin-left: -80px;
}
.card {
    height: 100vh; 
}
.card-body {
    overflow-y: auto; 
}

/*  Search(Search Folders) bar section  */
.input-group {
    width: 100%;
}
.input-group-text {
    background-color: transparent;
    border: none;
}
#folderSearch {
    border: none;
    box-shadow: none;
}
#folderSearch:focus {
    outline: none;
}
.all-items-title {
    border-radius: 5px;
    transition: background-color 0.3s;
}
.all-items-title:hover {
    background-color: #f0f0f0;
}

/*  All Items, Add Item, Add folder section  */
.fixed-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f4f6f9;
}
.items-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}
.button-group {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.custom-button {
    background-color: rgba(224,53,69,255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 550;
    text-decoration: none;
}
.custom-button:hover {
    color: white;
    background-color: #e45562;
}
.header-border {
    border-bottom: 1.5px solid #9e9ea4; 
    margin-top: 10px;
    margin-bottom: 20px;
}

/*   Countable fields (Folders, Items, Total Quantity, Total Value) */
.no-padding {
    padding: 0 !important; 
}
.value-fields {
    padding: 10px 0;
}
.value-fields strong {
    color: #333;
}
.value-fields span {
    font-weight: 600;
}
.button-group {
    margin-left: 10px;
}

/*   Modal Styles  */
#layoutModal {
    position: fixed;
    top: 50px;
    right: 20px;
    background: #fff;
    width: 250px;
    border: 1px solid #ddd;
    z-index: 9999;
    display: none;
}
.modal-content {
    padding: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}
.layout-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
.option:hover {
    background-color: #f0f0f0;
}
.grid-icon {
    font-size: 24px;
    margin-left: 10px;
}
/* Close the modal when clicking outside */
.modal-backdrop {
    display: none;
}












