html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* Style for nav-link,  Style for _Layout.cshtml page */
.main-sidebar {
    background-color: rgba(224,53,69,255);
}
.custom-sidebar .nav-item {
    margin-bottom: 25px;
}
.custom-sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.custom-sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
    transition: 0.2s;
}
.custom-sidebar .nav-link i {
    font-size: 22px;
    padding: 6px;
    margin-right: 10px;
}
.custom-sidebar .nav-link:hover i {
    color: white;
}
.custom-sidebar .nav-link p {
    margin: 0;
    transition: color 0.3s ease;
}
.custom-sidebar .nav-link:hover p {
    color: white;
}

/*   Style for Items.cshtml page    */
.row {
    margin-left: -80px;
}
.card {
    height: 100vh; 
}
.card-body {
    overflow-y: auto; 
}

/*  Search(Search Title) bar section  */
.input-group {
    width: 100%;
}
.input-group-text {
    background-color: transparent;
    border: none;
}
#folderSearch {
    border: none;
    box-shadow: none;
}
#folderSearch:focus {
    outline: none;
}
.title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/*  When dynamically add title in sidebar  */
.title-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.title-icon {
    margin-right: 8px;
    color: #888888;
    font-size: 1.2em;
}

.title-text {
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
    font-size: 1.2em;
}

.title-item:hover {
    background-color: #f1f1f1;
    color: #0056b3;
    border-radius: 3px;
}

/* Active title */
.active-title {
    background-color: #f0f0f0;
    border: 1px solid red;
    color: red;
}

    .active-title .title-icon {
        color: red;
    }

/*  All Items, Add Item, Add folder section  */
.fixed-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f4f6f9;
}
.items-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}
.button-group {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.custom-button {
    background-color: rgba(224,53,69,255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 550;
    text-decoration: none;
}
.custom-button:hover {
    color: white;
    background-color: #e45562;
}
.header-border {
    border-bottom: 1.5px solid #9e9ea4; 
    margin-top: 10px;
    margin-bottom: 20px;
}

/*   Countable fields (Folders, Items, Total Quantity, Total Value) */
.no-padding {
    padding: 0 !important; 
}
.value-fields {
    padding: 10px 0;
}
.value-fields strong {
    color: #333;
    font-size: 20px;
}
.value-fields span {
    font-size: 20px;
    font-weight: 600;
}
.button-group {
    margin-left: 10px;
}

/*  Selected div, when select any item  */
.selected-items {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Center the "No items" message */
.no-items-message {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; 
    text-align: center;
}
    .no-items-message p {
        font-size: 20px;
        color: #555;
    }

/* Style for the Product or Item Box  */
.item-box {
    height: 270px;
    width: 230px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    background-color: #fff;
}

    .item-box:hover {
        transform: scale(1.05);
    }

    .item-box img {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .item-box .card-body {
        padding: 10px;
    }

/* Checkbox for delete */
.checkbox-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.item-box:hover .checkbox-delete {
    display: block;
}

/*  Item Title  */
.item-box h5 {
    font-size: 16px;
    margin: 5px 0px 8px 10px;
    font-weight: bold;
    color: #333;
}

/*  Quantity and Price  */
.item-info {
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.item-quantity, .item-price {
    font-size: 14px;
    color: #666;
}

.divider {
    margin: 0px 5px;
    color: #999;
}

/*  Tag Icon and Tag  */
.item-tag {
    font-size: 13px;
    color: #666;
    display: flex;
    align-items: center;
}

    .item-tag i {
        margin-right: 5px;
    }

/*  Clear button   */
.input-group-append {
    display: flex;
    align-items: center;
}

#clear-button {
    background: none;
    border: none;
    margin-top: 7px;
}

/*   Style for Tags page sidebar   */
.tag-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tag-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tag-icon {
    font-size: 20px;
    color: #5a5a5a;
    margin-right: 10px;
}

.tag-text {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.tag-item:hover {
    background-color: #e6e6f0;
    color: #fff;
    border-radius: 3px;
}

/* Active tag */
.active-tag {
    background-color: #f0f0f0;
    border: 1px solid red;
    color: red;
}

    .active-tag .tag-icon {
        color: red;
    }

/*  Styel for Reports page   */
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .menu-item .icon {
        font-size: 20px;
        color: #5a5a5a;
        margin-right: 10px;
    }

    .menu-item .menu-text {
        font-size: 16px;
        font-weight: 500;
        color: #333;
    }

    .menu-item:hover {
        background-color: #e6e6f0;
        color: #fff;
        border-radius: 3px;
    }
.selected {
    background-color: #cce5ff; 
    color: #004085;
}

/*  Reports page content area  */
.info-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    height: 180px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

    .info-box:hover {
        background-color: #e3e3e3;
        transition: background-color 0.3s ease;
    }

.info-box-icon {
    font-size: 40px;
    color: #4b6cb7;
    margin-right: 15px;
}

.info-box-content {
    flex: 1;
}

.info-box-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-box-text {
    font-size: 14px;
    color: #6c757d;
}

.hoverable-item {
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .hoverable-item:hover {
        background-color: #f0f0f0;
    }

.menu-items {
    margin-top: 20px;
}

.menu-item .icon {
    margin-right: 10px;
}

.menu-text {
    font-size: 16px;
}
